<mat-card class="dialog mat-elevation-z0">
    <mat-card-actions class="button-wrapper-right">
        <button class="close-button" mat-dialog-close aria-label="Close director dialog button">
            X
        </button>
    </mat-card-actions>
    <mat-card-title class="dialog__title title">{{director.Name}}</mat-card-title>
    <mat-dialog-content class="dialog__content">
        <div class="dir-bio"><span class="content__sub-title">Biography: </span>{{director.Bio}}</div>
    </mat-dialog-content>
</mat-card>