.form {
    color: #D3C3C0;
    font-family: 'Helvetica Neue', sans-serif;
    text-align: center;
    align-content: center;
}


.form-input {

    font-family: 'Helvetica Neue', sans-serif;
    margin-left: 90px;
    margin-bottom: 10px;
}

.btn {

    margin-left: 90px;
    margin-bottom: 10px;
}

